page-login {
#login {
    background: color($colors, primary);
    min-height: 100%;
    font-family: 'Raleway', sans-serif;

    h1 {
        color: #ffffff;
        font-size: 32px;
        margin: 8% 0 5% 10%;
        font-weight: 700;
    }
    h2 {
        font-size: 16px;
        margin: 5% 0 40% 10%;
        color: #ffffff;
        font-weight: 100;
    }
    .text {
        font-size: 12px;
    }
    .border {
        border-radius: 3px;
    }
    .forget {
        position: relative;
    }
    .forget > a {
        position: absolute;
        right: 20px;
        color: color($colors, light);
        text-decoration: none;
        bottom: 15px;
    }
    // ion-item.input-has-focus ion-label[floating] ion-icon,
    // ion-item.input-has-value ion-label[floating] ion-icon {
    //     display: none;
    // }

    // .item-inner {
    //     margin: 0;
    // }
    footer {
        color: #f5cde5;
        font-size: 14px;
        padding: 10%;
    }
    footer > a {
        color: #FFFFFF;
        font-weight: 700;
    }
    .form {
        background: color($colors, clean);
        border-radius: 3px;
    }
    .list-ios > .item-block:first-child {
        border-width: 0;
    }
    .list-ios > .item-block:last-child {
        border-bottom: 0.55px solid #c8c7cc
    }
}
}
