page-enter-pin {
      
      #partitioned {
        padding-left: 15px;
        letter-spacing: 42px;
        border: 0;
        background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 50px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 80%;
        margin-left: 4%;
        font-size: 20px;
        font-weight: 700;
        color: color($colors, dark);
      }

      // form > input {
      //   width: 10px;
      //   border: 0;
      //   border-bottom: 1px solid #000;
      //   margin: 0 5px;
      // }
      .close {
        margin-left: 5px;
        font-size: 20px;
      }

}
